#carousel-home.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
        li.active(data-target='#carousel-home', data-slide-to='0')
        li(data-target='#carousel-home', data-slide-to='1')
        li(data-target='#carousel-home', data-slide-to='2')
        li(data-target='#carousel-home', data-slide-to='3')
    .carousel-inner(role='listbox')
        .carousel-item.active
            img.d-block.img-fluid(src='/images/gallery/gallery1.jpg', alt='Gallery1 slide')
            .carousel-caption.d-none.d-md-block
                h6.display-1= __('Order Now')
                .m-5
                    a.btn.btn-lg.btn-primary(href='/order')= __('Order')
        .carousel-item
            img.d-block.img-fluid(src='/images/gallery/gallery2.jpg', alt='Gallery2 slide')
            .carousel-caption.d-none.d-md-block
                h6.display-1= __('Order Now')
                .m-5
                    a.btn.btn-lg.btn-primary(href='/order')= __('Order')
        .carousel-item
            img.d-block.img-fluid(src='/images/gallery/gallery3.jpg', alt='Gallery3 slide')
            .carousel-caption.d-none.d-md-block
                h6.display-1= __('Order Now')
                .m-5
                    a.btn.btn-lg.btn-primary(href='/order')= __('Order')
        .carousel-item
            img.d-block.img-fluid(src='/images/gallery/gallery4.jpg', alt='Gallery4 slide')
            .carousel-caption.d-none.d-md-block
                h6.display-1= __('Order Now')
                .m-5
                    a.btn.btn-lg.btn-primary(href='/order')= __('Order')
    a.carousel-control-prev(href='#carousel-home', role='button', data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
    a.carousel-control-next(href='#carousel-home', role='button', data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')