mixin orderCatd(postfix, order)
    div(class="card order-card mb-3 card-outline-" + postfix + " order-card-" + postfix)
        .card-block.p-0
            .row.p-0.m-0
                .col.p-1.order-card-title
                    h4.p-0.m-1
                        i.fa.fa-fw.fa-check.m-1
                        = order.status.toLocaleUpperCase()
            .row.p-0.m-0.mt-2
                .col-md-6.p-1
                    ul.list-group.pl-1
                        li.list-group-item.p-1.mb-1
                            p.text-truncate.m-0(title=order.fullname)
                                i.mr-3.fa.fa-fw.fa-user
                                = order.fullname
                        li.list-group-item.p-1.mb-1
                            p.text-truncate.m-0(title=order.phone)
                                i.mr-3.fa.fa-fw.fa-mobile
                                = order.phone
                        li.list-group-item.p-1.mb-1
                            p.text-truncate.m-0(title=order.email)
                                i.mr-3.fa.fa-fw.fa-at
                                = order.email
                .col-md-6.p-1
                    ul.list-group.pl-1
                        li.list-group-item.p-1.mb-1
                            p.text-truncate.m-0(title=order.playersNumber)
                                i.mr-3.fa.fa-fw.fa-users
                                = order.playersNumber
                        li.list-group-item.p-1.mb-1
                            p.text-truncate.m-0(title=order.startTime)
                                i.mr-3.fa.fa-fw.fa-calendar
                                = order.startTime
                                //| 2017/02/15
                        li.list-group-item.p-1.mb-1
                            p.text-truncate.m-0(title=order.duration)
                                i.mr-3.fa.fa-fw.fa-clock-o
                                = order.duration
                                //| 2 hour 30 min
            .row.p-0.m-0.pt-2
                .col.p-2.pr-4
                    strong.pull-right
                        p.text-truncate.m-0(title=order.price)
                            i.fa.fa-fw.fa-dollar
                            = order.price
                            //| 1 220.00