extends ../layout

block before
    link(rel='stylesheet', href='/lib/bootstrap-datepicker/css/bootstrap-datepicker.css')
block after
    script(src='/lib/bootstrap-datepicker/js/bootstrap-datepicker.js')

block content
    .container
        .loading.text-center
            i.fa.fa-spinner.fa-pulse.fa-3x
        .row.p-0
            .col-12.mt-2.mb-2
                .btn-toolbar(role='toolbar')
                    .btn-group(role='group')
                        button#previous-btn.btn.btn-secondary(type='button')
                            i.fa.fa-chevron-left(aria-hidden='true')
                        button#next-btn.btn.btn-secondary(type='button')
                            i.fa.fa-chevron-right(aria-hidden='true')
                    .btn-group.ml-3(role='group')
                        button#calendar-btn.btn.btn-secondary(type='button')
                            i.fa.fa-calendar(aria-hidden='true')
                        button#today-btn.btn.btn-secondary(type='button')= __('today')
                    h2#date-today.mt-auto.ml-5
                hr
        .row.p-0
            .col-lg-8
                form#order-form.contact-form(role='form', name='contact-form', method='post', action='', novalidate='novalidate')
                    input#order-id(type='hidden', name='orderId', value='')
                    input(type='hidden', name='userId', value=user.id)
                    input(type='hidden', name='price', value='0')
                    input(type='hidden', name='startDateTime', value='')
                    input(type='hidden', name='endDateTime', value='')
                    fieldset
                        legend= __('Contact Information')
                            .button-show-hide.pull-right(data-toggle='group-collapse', data-target='.contactInformationGroup', data-icon-target='#group-collapse-icon')
                                a(href="#")
                                    i#group-collapse-icon.fa.fa-fw.fa-angle-up
                        .contactInformationGroup
                            .form-group.row.p-0
                                label.col-md-3.col-form-label(for='fullname')= __('Name') + ' *'
                                .col-md-9
                                    input#fullname.form-control(required, type='text', name='fullname', placeholder='Your Name', value=user.displayName)
                            .form-group.row.p-0
                                label.col-md-3.col-form-label(for='email')= __('Email') + ' *'
                                .col-md-9
                                    input#email.form-control(required, type='email', name='email', placeholder='Email', value=user.email)
                            .form-group.row.p-0
                                label.col-md-3.col-form-label(for='phone')= __('Phone Number') + ' *'
                                .col-md-9
                                    input#phone.form-control(required, type='tel', name='phone', placeholder='Tel', value=user.phone)
                    fieldset
                        legend= __('Time Information')
                        .form-group.row.p-0
                            label.col-sm-6.col-md-5.col-form-label(for='playersNumber')= __('Number of Players')
                            .col-sm-6.col-md-5
                                .input-group.group-number(role='group', data-default='8', data-min='2', data-max='50')
                                    button.btn.input-group-addon(type='button')
                                        i.fa.fa-minus(aria-hidden='true')
                                    input#playersNumber.form-control(type='text', name='playersNumber', autocomplete='off')
                                    button.btn.input-group-addon(type='button')
                                        i.fa.fa-plus(aria-hidden='true')
                        .form-group.row.p-0
                            label.col-sm-6.col-md-5.col-form-label(for='startTime')= __('Time start')
                            .col-sm-6.col-md-5
                                .input-group.group-number-time(role='group', data-default='8:00 am', data-min='6:00 am', data-max='8:00 pm')
                                    button.btn.input-group-addon(type='button')
                                        i.fa.fa-minus(aria-hidden='true')
                                    input#startTime.form-control(type='text', name='startTime', autocomplete='off')
                                    button.btn.input-group-addon(type='button')
                                        i.fa.fa-plus(aria-hidden='true')
                        .form-group.row.p-0
                            label.col-sm-6.col-md-5.col-form-label(for='duration')= __('Duration')
                            .col-sm-6.col-md-5
                                .input-group.group-duration(role='group', data-default='0:00', data-min='0:00', data-max='12:00', data-step='10')
                                    button.btn.input-group-addon(type='button')
                                        i.fa.fa-minus(aria-hidden='true')
                                    input#duration.form-control(type='text', name='duration', autocomplete='off')
                                    button.btn.input-group-addon(type='button')
                                        i.fa.fa-plus(aria-hidden='true')
                                #times-error.mt-2.alert.alert-danger(role="alert", style='display:none;')
                                    = __('Sorry but you can\'t chose this time')
                        .row.p-0
                            label.col-sm-6.col-md-5.col-form-label(for='price')= __('Price')
                            .col-sm-6.col-md-5
                                #price.price
                                    h4
                                        i.fa.fa-fw.fa-dollar
                                        strong.price-value(data-default='0.00')
                    .row.p-0.mb-3
                        .col
                            //input#submit-button.order-button-yellow.btn.btn-success.btn-lg.pull-right(type='submit', value='Submit')
                            input#submit-button.btn.btn-success.btn-lg.pull-right(type='submit', value=__('Order Now'))
                #order-form-error-message.alert.alert-danger(role='alert', style='display: none;')
                #order-form-success-message.row.p-0(style='display: none;')
                    .col
                        dl.row.m-0.pb-0
                            dt.col-sm-5= __('Name')
                            dd#order-fullname.col-sm-7
                            dt.col-sm-5= __('Email')
                            dd#order-email.col-sm-7
                            dt.col-sm-5= __('Phone')
                            dd#order-phone.col-sm-7
                            dt.col-sm-5= __('Players Number')
                            dd#order-playersNumber.col-sm-7
                            dt.col-sm-5= __('Time start')
                            dd#order-startTime.col-sm-7
                            dt.col-sm-5= __('Duration')
                            dd#order-duration.col-sm-7
                        h4.m-3
                            = __('Price')
                            i.fa.fa-fw.fa-dollar
                            strong#order-price
                        a#paypal-checkout-url(href='#')
                            img(src='https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif')
            .col-lg-4
                #time-list.noselect.time-list.text-center
                a#deselect-all.pull-right.m-3(href="#")
                    = __('cancel selections')
